In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect("accident_data_v1.0.0_2023.db")

In [3]:
cur = con.cursor()

In [4]:
table_list = cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;").fetchall()
table_list = [x[0] for x in table_list]
table_list

['accident', 'casualty', 'lsoa', 'vehicle']

# SQL command to show the age of the oldest driver/rider in the casualty table

In [5]:
age_of_oldest_driver = cur.execute('SELECT MAX(age_of_casualty) AS oldest_driver FROM casualty WHERE casualty_class = 1').fetchone()
print('The age of the oldest driver/rider in the casualty table is', age_of_oldest_driver[0])

The age of the oldest driver/rider in the casualty table is 101

# SQL command to show the total number of vehicle_type = 19 vehicles in the vehicle table

In [6]:
total_number_of_vehicle_type19 = cur.execute('SELECT COUNT(*) AS total_vehicles FROM vehicle WHERE vehicle_type = 19').fetchone()
print('The total number of vehicle_type = 19 vehicles in the vehicle table is', total_number_of_vehicle_type19[0])

The total number of vehicle_type = 19 vehicles in the vehicle table is 47458

# The sex of driver, sex of casualty, speed limit and age of vehicle for accidents in all the lower layer super output area (LSOA) regions of Kingston Upon Hull

In [7]:
sqlQuery = '''
    SELECT v.sex_of_driver, c.sex_of_casualty, a.speed_limit, v.age_of_vehicle
    FROM accident a
    JOIN casualty c ON a.accident_index = c.accident_index
    JOIN vehicle v ON a.accident_index = v.accident_index
    JOIN lsoa l ON a.lsoa_of_accident_location = l.lsoa01cd
    WHERE
        l.lsoa01nm LIKE 'Kingston Upon Hull%'
'''

df = pd.read_sql_query(sqlQuery, con)
df

      sex_of_driver  sex_of_casualty  speed_limit  age_of_vehicle
0                 1                1           30               9
1                 1                1           30              13
2                 1                2           30              11
3                 3                2           30               6
4                 1                1           30              11
...             ...              ...          ...             ...
6382              1                1           30              -1
6383              1                1           30              -1
6384              1                1           30              -1
6385              1                1           30              -1
6386              3                1           30              -1

[6387 rows x 4 columns]